In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import statistics 
import io

In [2]:
source= requests.get('https://fbref.com/en/comps/Big5/possession/players/Big-5-European-Leagues-Stats').text
soup=BeautifulSoup(source)
table=soup.find_all('table')

In [3]:
ta = table[0]
html_string = str(ta)
df = pd.read_html(io.StringIO(html_string))[0]

In [4]:
df

     Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                     Rk             Player             Nation
0                     1         Max Aarons            eng ENG
1                     2   Brenden Aaronson             us USA
2                     3    Paxten Aaronson             us USA
3                     4  Keyliane Abdallah             fr FRA
4                     5   Yunis Abdelhamid             ma MAR
...                 ...                ...                ...
2961               2849    Martin Ødegaard             no NOR
2962               2850        Milan Đurić             ba BIH
2963                 Rk             Player             Nation
2964               2851        Milan Đurić             ba BIH
2965               2852   Mateusz Łęgowski             pl POL

     Unnamed: 3_level_0 Unnamed: 4_level_0  Unnamed: 5_level_0  \
                    Pos              Squad                Comp
0                    DF        Bournemouth  eng Premier League
1                 MF,FW       Union Berlin       de Bundesliga
2                    MF     Eint Frankfurt       de Bundesliga
3                    FW          Marseille          fr Ligue 1
4                    DF              Reims          fr Ligue 1
...                 ...                ...                 ...
2961                 MF            Arsenal  eng Premier League
2962                 FW      Hellas Verona          it Serie A
2963                Pos              Squad                Comp
2964                 FW              Monza          it Serie A
2965                 MF        Salernitana          it Serie A

     Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0  Touches  ...  \
                    Age               Born                90s  Touches  ...
0                    23               2000               13.7      711  ...
1                    22               2000               14.1      675  ...
2                    19               2003                1.1       72  ...
3                    17               2006                0.0        1  ...
4                    35               1987               30.9     2185  ...
...                 ...                ...                ...      ...  ...
2961                 24               1998               34.3     2326  ...
2962                 33               1990               13.4      421  ...
2963                Age               Born                90s  Touches  ...
2964                 33               1990               14.0      381  ...
2965                 20               2003               12.7      504  ...

      Carries                                    Receiving        \
      TotDist  PrgDist  PrgC  1/3  CPA  Mis  Dis       Rec  PrgR
0        2174     1121    22   12    7   13    8       371    26
1        2721     1387    37   29    9   41   38       457    91
2         193       50     2    0    1    5    4        46     7
3           3        0     0    0    0    0    0         1     0
4        8663     4921    36   19    0   23    4      1403     9
...       ...      ...   ...  ...  ...  ...  ...       ...   ...
2961     8190     3514    91   83   37   53   58      1827   202
2962      529      151     3    6    1   22    8       352    33
2963  TotDist  PrgDist  PrgC  1/3  CPA  Mis  Dis       Rec  PrgR
2964      458      108     2    2    1   24   14       323    31
2965     1526      757    16   13    3   20   12       294    17

     Unnamed: 31_level_0
                 Matches
0                Matches
1                Matches
2                Matches
3                Matches
4                Matches
...                  ...
2961             Matches
2962             Matches
2963             Matches
2964             Matches
2965             Matches

[2966 rows x 32 columns]

In [5]:
df.to_csv('Possession.csv')

In [6]:
df = pd.read_csv('Possession.csv', skiprows=0)

In [7]:
new_header = df.iloc[0]
df = df[1:]
df.columns = new_header

In [8]:
df

,NaN,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,...,TotDist,PrgDist,PrgC,1/3,CPA,Mis,Dis,Rec,PrgR,Matches
1,0.0,1,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,23,2000,13.7,...,2174,1121,22,12,7,13,8,371,26,Matches
2,1.0,2,Brenden Aaronson,us USA,"MF,FW",Union Berlin,de Bundesliga,22,2000,14.1,...,2721,1387,37,29,9,41,38,457,91,Matches
3,2.0,3,Paxten Aaronson,us USA,MF,Eint Frankfurt,de Bundesliga,19,2003,1.1,...,193,50,2,0,1,5,4,46,7,Matches
4,3.0,4,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,17,2006,0.0,...,3,0,0,0,0,0,0,1,0,Matches
5,4.0,5,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,35,1987,30.9,...,8663,4921,36,19,0,23,4,1403,9,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2962,2961.0,2849,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,24,1998,34.3,...,8190,3514,91,83,37,53,58,1827,202,Matches
2963,2962.0,2850,Milan Đurić,ba BIH,FW,Hellas Verona,it Serie A,33,1990,13.4,...,529,151,3,6,1,22,8,352,33,Matches
2964,2963.0,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,...,TotDist,PrgDist,PrgC,1/3,CPA,Mis,Dis,Rec,PrgR,Matches
2965,2964.0,2851,Milan Đurić,ba BIH,FW,Monza,it Serie A,33,1990,14.0,...,458,108,2,2,1,24,14,323,31,Matches
2966,2965.0,2852,Mateusz Łęgowski,pl POL,MF,Salernitana,it Serie A,20,2003,12.7,...,1526,757,16,13,3,20,12,294,17,Matches

In [9]:
df.to_csv('Possessionn.csv')

In [10]:
df = pd.read_csv('Possessionn.csv')

In [11]:
df.index=df['Rk']
df = df.drop(df.columns[:3], axis=1)

In [12]:
df['Nation'] = df['Nation'].str.split(r' ').str.get(1)
df['Comp'] = df['Comp'].str.split(r' ').str.get(1)
df['Comp'] = df['Comp'].str.replace('Premier','Premier League')
df['Comp'] = df['Comp'].str.replace('Ligue','Ligue 1')
df['Comp'] = df['Comp'].str.replace('Serie','Serie A')
df['Comp'] = df['Comp'].str.replace('La','La Liga')

In [13]:
df = df.drop(['Born'],axis=1)
df

,Player,Nation,Pos,Squad,Comp,Age,90s,Touches,Def Pen,Def 3rd,...,TotDist,PrgDist,PrgC,1/3,CPA,Mis,Dis,Rec,PrgR,Matches
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,ENG,DF,Bournemouth,Premier League,23,13.7,711,43,252,...,2174,1121,22,12,7,13,8,371,26,Matches
2,Brenden Aaronson,USA,"MF,FW",Union Berlin,Bundesliga,22,14.1,675,11,108,...,2721,1387,37,29,9,41,38,457,91,Matches
3,Paxten Aaronson,USA,MF,Eint Frankfurt,Bundesliga,19,1.1,72,0,6,...,193,50,2,0,1,5,4,46,7,Matches
4,Keyliane Abdallah,FRA,FW,Marseille,Ligue 1,17,0.0,1,0,0,...,3,0,0,0,0,0,0,1,0,Matches
5,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,30.9,2185,293,976,...,8663,4921,36,19,0,23,4,1403,9,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2849,Martin Ødegaard,NOR,MF,Arsenal,Premier League,24,34.3,2326,24,244,...,8190,3514,91,83,37,53,58,1827,202,Matches
2850,Milan Đurić,BIH,FW,Hellas Verona,Serie A,33,13.4,421,14,41,...,529,151,3,6,1,22,8,352,33,Matches
Rk,Player,NaN,Pos,Squad,NaN,Age,90s,Touches,Def Pen,Def 3rd,...,TotDist,PrgDist,PrgC,1/3,CPA,Mis,Dis,Rec,PrgR,Matches
2851,Milan Đurić,BIH,FW,Monza,Serie A,33,14.0,381,32,51,...,458,108,2,2,1,24,14,323,31,Matches
2852,Mateusz Łęgowski,POL,MF,Salernitana,Serie A,20,12.7,504,31,120,...,1526,757,16,13,3,20,12,294,17,Matches

In [14]:
df = df.drop(df[df['Player'] == 'Player'].index)

In [30]:
df2 = df.copy()

In [23]:
df2

,Player,Nation,Pos,Squad,Comp,Age,90s,Touches,Def Pen,Def 3rd,...,TotDist,PrgDist,PrgC,1/3,CPA,Mis,Dis,Rec,PrgR,Matches
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,ENG,DF,Bournemouth,Premier League,23,13.7,711,43,252,...,2174,1121,22,12,7,13,8,371,26,Matches
2,Brenden Aaronson,USA,"MF,FW",Union Berlin,Bundesliga,22,14.1,675,11,108,...,2721,1387,37,29,9,41,38,457,91,Matches
3,Paxten Aaronson,USA,MF,Eint Frankfurt,Bundesliga,19,1.1,72,0,6,...,193,50,2,0,1,5,4,46,7,Matches
4,Keyliane Abdallah,FRA,FW,Marseille,Ligue 1,17,0.0,1,0,0,...,3,0,0,0,0,0,0,1,0,Matches
5,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,30.9,2185,293,976,...,8663,4921,36,19,0,23,4,1403,9,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2848,Lovro Zvonarek,CRO,"FW,MF",Bayern Munich,Bundesliga,18,1.8,73,2,9,...,207,86,7,1,4,3,1,55,9,Matches
2849,Martin Ødegaard,NOR,MF,Arsenal,Premier League,24,34.3,2326,24,244,...,8190,3514,91,83,37,53,58,1827,202,Matches
2850,Milan Đurić,BIH,FW,Hellas Verona,Serie A,33,13.4,421,14,41,...,529,151,3,6,1,22,8,352,33,Matches
2851,Milan Đurić,BIH,FW,Monza,Serie A,33,14.0,381,32,51,...,458,108,2,2,1,24,14,323,31,Matches
2852,Mateusz Łęgowski,POL,MF,Salernitana,Serie A,20,12.7,504,31,120,...,1526,757,16,13,3,20,12,294,17,Matches

In [31]:
df2.drop(df2.columns[-1],inplace=True,axis=1)

In [32]:
df2.drop(df2.columns[:6],inplace=True,axis=1)

In [33]:
df2.drop(df2.columns[2:8],inplace=True,axis=1)

In [34]:
df2.drop(df2.columns[5:7],inplace=True,axis=1)

In [35]:
df2

,90s,Touches,Att,Succ,Succ%,Carries,TotDist,PrgDist,PrgC,1/3,CPA,Mis,Dis,Rec,PrgR
Rk,,,,,,,,,,,,,,,
1,13.7,711,34,14,41.2,364,2174,1121,22,12,7,13,8,371,26
2,14.1,675,77,34,44.2,406,2721,1387,37,29,9,41,38,457,91
3,1.1,72,7,2,28.6,43,193,50,2,0,1,5,4,46,7
4,0.0,1,0,0,NaN,1,3,0,0,0,0,0,0,1,0
5,30.9,2185,15,8,53.3,1506,8663,4921,36,19,0,23,4,1403,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2848,1.8,73,3,1,33.3,43,207,86,7,1,4,3,1,55,9
2849,34.3,2326,81,37,45.7,1563,8190,3514,91,83,37,53,58,1827,202
2850,13.4,421,3,2,66.7,183,529,151,3,6,1,22,8,352,33
2851,14.0,381,4,2,50.0,157,458,108,2,2,1,24,14,323,31
2852,12.7,504,21,6,28.6,265,1526,757,16,13,3,20,12,294,17

In [36]:
df2 = df2.astype(float)

In [46]:
df3 = df2.copy()

In [47]:
df3 = df3.rename(columns={'Touches': 'Touches90','Att': 'TakeOnAtt90','Succ':'TakeOnSucc90','Carries':'Carries90','TotDist':'CarriesTotDist90','PrgDist':'CarriesPrgDist90','PrgC':'PrgC90','1/3':'Caries1/3(90)','PrgR':'PrgR90','CPA':'CPA90','Mis':'Mis90','Dis':'Dis90','Rec':'Rec90'})

In [48]:
df3

,90s,Touches90,TakeOnAtt90,TakeOnSucc90,Succ%,Carries90,CarriesTotDist90,CarriesPrgDist90,PrgC90,Caries1/3(90),CPA90,Mis90,Dis90,Rec90,PrgR90
Rk,,,,,,,,,,,,,,,
1,13.7,711.0,34.0,14.0,41.2,364.0,2174.0,1121.0,22.0,12.0,7.0,13.0,8.0,371.0,26.0
2,14.1,675.0,77.0,34.0,44.2,406.0,2721.0,1387.0,37.0,29.0,9.0,41.0,38.0,457.0,91.0
3,1.1,72.0,7.0,2.0,28.6,43.0,193.0,50.0,2.0,0.0,1.0,5.0,4.0,46.0,7.0
4,0.0,1.0,0.0,0.0,NaN,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,30.9,2185.0,15.0,8.0,53.3,1506.0,8663.0,4921.0,36.0,19.0,0.0,23.0,4.0,1403.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2848,1.8,73.0,3.0,1.0,33.3,43.0,207.0,86.0,7.0,1.0,4.0,3.0,1.0,55.0,9.0
2849,34.3,2326.0,81.0,37.0,45.7,1563.0,8190.0,3514.0,91.0,83.0,37.0,53.0,58.0,1827.0,202.0
2850,13.4,421.0,3.0,2.0,66.7,183.0,529.0,151.0,3.0,6.0,1.0,22.0,8.0,352.0,33.0
2851,14.0,381.0,4.0,2.0,50.0,157.0,458.0,108.0,2.0,2.0,1.0,24.0,14.0,323.0,31.0
2852,12.7,504.0,21.0,6.0,28.6,265.0,1526.0,757.0,16.0,13.0,3.0,20.0,12.0,294.0,17.0

In [49]:
df3['Touches90']=df3['Touches90']/df3['90s']
df3['TakeOnAtt90']=df3['TakeOnAtt90']/df3['90s']
df3['TakeOnSucc90']=df3['TakeOnSucc90']/df3['90s']
df3['Carries90']=df3['Carries90']/df3['90s']
df3['CarriesTotDist90']=df3['CarriesTotDist90']/df3['90s']
df3['CarriesPrgDist90']=df3['CarriesPrgDist90']/df3['90s']
df3['PrgC90']=df3['PrgC90']/df3['90s']
df3['Caries1/3(90)']=df3['Caries1/3(90)']/df3['90s']
df3['CPA90']=df3['CPA90']/df3['90s']
df3['Mis90']=df3['Mis90']/df3['90s']
df3['Dis90']=df3['Dis90']/df3['90s']
df3['Rec90']=df3['Rec90']/df3['90s']
df3['PrgR90']=df3['PrgR90']/df3['90s']
df3

,90s,Touches90,TakeOnAtt90,TakeOnSucc90,Succ%,Carries90,CarriesTotDist90,CarriesPrgDist90,PrgC90,Caries1/3(90),CPA90,Mis90,Dis90,Rec90,PrgR90
Rk,,,,,,,,,,,,,,,
1,13.7,51.897810,2.481752,1.021898,41.2,26.569343,158.686131,81.824818,1.605839,0.875912,0.510949,0.948905,0.583942,27.080292,1.897810
2,14.1,47.872340,5.460993,2.411348,44.2,28.794326,192.978723,98.368794,2.624113,2.056738,0.638298,2.907801,2.695035,32.411348,6.453901
3,1.1,65.454545,6.363636,1.818182,28.6,39.090909,175.454545,45.454545,1.818182,0.000000,0.909091,4.545455,3.636364,41.818182,6.363636
4,0.0,inf,NaN,NaN,NaN,inf,inf,NaN,NaN,NaN,NaN,NaN,NaN,inf,NaN
5,30.9,70.711974,0.485437,0.258900,53.3,48.737864,280.355987,159.255663,1.165049,0.614887,0.000000,0.744337,0.129450,45.404531,0.291262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2848,1.8,40.555556,1.666667,0.555556,33.3,23.888889,115.000000,47.777778,3.888889,0.555556,2.222222,1.666667,0.555556,30.555556,5.000000
2849,34.3,67.813411,2.361516,1.078717,45.7,45.568513,238.775510,102.448980,2.653061,2.419825,1.078717,1.545190,1.690962,53.265306,5.889213
2850,13.4,31.417910,0.223881,0.149254,66.7,13.656716,39.477612,11.268657,0.223881,0.447761,0.074627,1.641791,0.597015,26.268657,2.462687
2851,14.0,27.214286,0.285714,0.142857,50.0,11.214286,32.714286,7.714286,0.142857,0.142857,0.071429,1.714286,1.000000,23.071429,2.214286
2852,12.7,39.685039,1.653543,0.472441,28.6,20.866142,120.157480,59.606299,1.259843,1.023622,0.236220,1.574803,0.944882,23.149606,1.338583

In [55]:
df3.round(2)

,Touches90,TakeOnAtt90,TakeOnSucc90,Succ%,Carries90,CarriesTotDist90,CarriesPrgDist90,PrgC90,Caries1/3(90),CPA90,Mis90,Dis90,Rec90,PrgR90
Rk,,,,,,,,,,,,,,
1,51.90,2.48,1.02,41.2,26.57,158.69,81.82,1.61,0.88,0.51,0.95,0.58,27.08,1.90
2,47.87,5.46,2.41,44.2,28.79,192.98,98.37,2.62,2.06,0.64,2.91,2.70,32.41,6.45
3,65.45,6.36,1.82,28.6,39.09,175.45,45.45,1.82,0.00,0.91,4.55,3.64,41.82,6.36
4,inf,NaN,NaN,NaN,inf,inf,NaN,NaN,NaN,NaN,NaN,NaN,inf,NaN
5,70.71,0.49,0.26,53.3,48.74,280.36,159.26,1.17,0.61,0.00,0.74,0.13,45.40,0.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2848,40.56,1.67,0.56,33.3,23.89,115.00,47.78,3.89,0.56,2.22,1.67,0.56,30.56,5.00
2849,67.81,2.36,1.08,45.7,45.57,238.78,102.45,2.65,2.42,1.08,1.55,1.69,53.27,5.89
2850,31.42,0.22,0.15,66.7,13.66,39.48,11.27,0.22,0.45,0.07,1.64,0.60,26.27,2.46
2851,27.21,0.29,0.14,50.0,11.21,32.71,7.71,0.14,0.14,0.07,1.71,1.00,23.07,2.21
2852,39.69,1.65,0.47,28.6,20.87,120.16,59.61,1.26,1.02,0.24,1.57,0.94,23.15,1.34

In [53]:
df3.drop(df2.columns[0],inplace=True,axis=1)

In [60]:
df3.to_csv('Possession_stats.csv')